.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map-area {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.presenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 9999;
}

.photo {
  position: relative;
}

.photo:hover{
  cursor: pointer;
}

.map-controls{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 9999;
  flex-wrap: wrap;
  padding: 10px;
}

.back-button{
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 1;
  
} 

.you-text{
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  z-index: 1;
}

.youtube-control-button:hover{
  cursor: pointer;
}

.game-started{
  top: 0%;
  left: 0%;
  z-index: 2;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
}

.instructions{
  z-index: 1;
  padding-top: 40px;
  color: white;
}

.start-button{
  top: 60%;
  z-index: 1;
}