.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#MainContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  position: fixed;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  animation: crtAnimation 1.2s 0.2s both;
  animation-timing-function: cubic-bezier(0.2, -0.1, 0, 1);
  overflow: hidden;
  padding: 30px;
  padding-bottom: calc(30px + env(safe-area-inset-bottom));
}
